= form_for @template do |f|
  - if @template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
      %ul
        - @template.errors.full_messages.each do |msg|
          %li= msg

= hidden_field_tag 'template_id', @template.id
= hidden_field_tag 'template_path', template_path(@template) + '.json'
= hidden_field_tag 'template_method', @template.id.blank? ? 'POST' : "PUT"

%article
  %section.row.template-help
    Click on any text to change it.

  .row.col-sm-10.col-sm-offset-1.text-center
    %h1.template-name{ contenteditable: true }= @template.name_text

  .row.col-sm-10.col-sm-offset-1.text-center
    %h3.template-desc{ contenteditable: true }= @template.desc_text

  .row.col-sm-6.col-sm-offset-3.text-center
    =# image_tag @template.image.blank? ? "upload.svg" : @template.image_url, class: "template-image"
    .template-image
      - if @template.image.blank?
        = icon('picture-o', '', class: 'fa-5x')
      - else
        = image_tag @template.image_url
    = file_field :template, 'image'

  .row.col-sm-8.col-sm-offset-2.text-center
    %section.template-text{ contenteditable: true }= @template.body_text

  .row.col-sm-8.col-sm-offset-2.text-left.rtbgroups
    - @template.rtbgroups.each do |g|
      .rtbgroup
        %h6.rtbgroup-name{ contenteditable: true, id: "rtbgroup:#{g.id}:name" }= g.name
        %ul#blah.rtbs
          - g.active_rtbs.each do |r|
            %li.list-styless
              %span.rm-rtb.delete-link{ id: "rtb:#{r.id}:delete" }= icon('minus-circle')
              .rtb-text{ contenteditable: true, id: "rtb:#{r.id}:text" }= r.text
        .add-rtb.add-link
          = icon('plus-circle')
          Add Reason

  .row.col-sm-10.col-sm-offset-1.text-right.template-actions
    %span.template-message
    %span.template-save.btn.btn-sm.btn-success Save
    = link_to 'Show', @template, class: 'btn btn-sm btn-default'

:javascript
  var orly;
  template_update_image();
  template_update();
  // $('.rtb-text').focus(function(){ orly = $(this); $(this).after('<div class="rm-rtb"><i class="fa fa-minus-circle"> Remove Reason</div>') });

  $('.add-rtb').click(function(){
    $(this).prev().append('<li><div class="rtb-text new-rtb-text" contenteditable="" id="rtb:'+new Date().getTime()+':text">Replace this text</div></li>');
  });