%h3 Concept Models

%table
  - @templates.each do |template|
    %tr
      %td
        = link_to template.name_text, template_path(template)
        = link_to icon('eye'), glimpses_template_path(template)
        = link_to icon('edit'), edit_template_path(template)
        = link_to icon('trash-o'), template_path(template), :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td

.add-link
  = link_to "#{icon('plus-circle')} New Template".html_safe, new_template_path